@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="~/img/kt/kt-logo.png" alt="Kill Team"/>
    
    <div class="container">

        <div class="row text-left">
            <div class="col-sm-6">
                <img src="~/img/kt-vet/kt-vet-logo.png" class="w-100" alt="Veteran Guardsman"/>
                <ul>
                    <li><a href="~/kt-vet-01/">Sergeant Veteran</a></li>
                    <li><a href="~/kt-vet-02/">Veteran Trooper</a></li>
                    <li><a href="~/kt-vet-03/">Gunner Veteran (Plasma)</a></li>
                    <li><a href="~/kt-vet-04/">Gunner Veteran (Flame)</a></li>
                    <li><a href="~/kt-vet-05/">Spotter Veteran</a></li>
                    <li><a href="~/kt-vet-06/">Zealot Veteran</a></li>
                    <li><a href="~/kt-vet-07/">Veteran Trooper</a></li>
                    <li><a href="~/kt-vet-08/">Hardened Veteran</a></li>
                    <li><a href="~/kt-vet-09/">Medic Veteran</a></li>
                    <li><a href="~/kt-vet-10/">Demolition Veteran</a></li>
                </ul>
            </div>
            <div class="col-sm-6">
                <img src="~/img/kt-kom/kt-kom-logo.png" class="w-100" alt="Ork Kommandos" />
                <ul>
                    <li><a href="~/kt-kom-01/">Nob</a></li>
                    <li><a href="~/kt-kom-02/">Ork 2</a></li>
                    <li><a href="~/kt-kom-03/">Ork 3</a></li>
                    <li><a href="~/kt-kom-04/">Ork 4</a></li>
                    <li><a href="~/kt-kom-05/">Ork 5</a></li>
                    <li><a href="~/kt-kom-06/">Ork 6</a></li>
                    <li><a href="~/kt-kom-07/">Ork 7</a></li>
                    <li><a href="~/kt-kom-08/">Ork 8</a></li>
                    <li><a href="~/kt-kom-09/">Ork 9</a></li>
                    <li><a href="~/kt-kom-10/">Ork 10</a></li>
                    <li><a href="~/kt-kom-11/">Ork 11</a></li>
                    <li><a href="~/kt-kom-12/">Ork 12</a></li>
                </ul>
            </div>
        </div>

    </div>
   




</div>
